.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 33px 0px 0px 100px;
  color: white;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  margin: 10px 0px 0px 100px;
}

h1 {
  font-size: large;
  margin: 10px 0px 0px 80px;
}

